header {
    font-style:oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: violet;
}
body {
    font-style:oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
    padding: 15px;
}
p {
    font-style:oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(239, 10, 239);
    padding: 15px;
}
li {
    background-color: yellow;
    padding-block: 30em;
}